<section class="home-hero-section">
    <div class="hero-content-wrapper">

        <!-- Carousel of images -->
        <div class="carousel-hero-img-wrapper">
            <div class="main-carousel">
                <img src="./images/home-carousel/hc-0.jpg" width='100%' heigth='auto' id="main-carousel">
            </div>

        </div>

        <!-- Call to action -->
        <div class="cta">
            <h1>SAVE A PET</h1>
            <h1>DONATE NOW</h1>
            <p>Your donation will help us provide intake, rehabilitation and find forever homes for
                reptiles,
                amphibians and exotic non-native animals! Every penny makes a difference! </p>
            <a href="/donate" class="button">Donate Now</a>
        </div>
    </div>
</section>
