<app-header></app-header>
<app-hero></app-hero>
<!-- Important text -->
<div class="content-wrapper">
    <section class="important-text">
        <p class="bold">* If you need to surrender or have questions regarding a lost or found reptile or
            exotic
            animal, please
            call us at 352-403-4255. *</p>
    </section>

    <div class="main-content">
        <!-- Mission section -->
        <section class="mission">
            <h1 class="mission-heading">Mission Statement</h1>
            <p>Our mission is to promote the health and well-being of abused, neglected, unwanted, and
                abandoned
                native and non-native reptiles and exotic animals through rescue, rehabilitation, education,
                and
                community outreach, while preserving the native Florida ecosystem and preventing release of
                invasive
                species.</p>
            <p>Our organization not only rescues animals, but focuses on the education of Florida youth and
                adults
                about the importance of thoroughly researching all exotic animals before obtaining one as a
                pet,
                the
                seriousness of caring for an animal (especially an exotic as they require more specialized
                care
                than
                domestic pets), and preventing the release of invasive species into the Florida ecosystem.
                We
                provide all educational demonstrations at no charge to anyone and everyone who requests one.
            </p>
        </section>

        <!-- Featured animals section -->
        <section class="featured-animals top-dashed-line">
            <div class="featured-adoptable">
                <div class="featured-img">
                    <img src="./images/featured-adoptable.jpg"
                        alt="Picture of Hernando Reptiles turtle named Sequoia">
                </div>
                <div class="featured-text">
                    <h2 class="center-text">Featured Adoptable</h2>
                        <p class="center-text">Chili Pepper is an approximately 25 year old SPECIAL NEEDS
                            Patagonian conure. He has cataracts and is a feather picker- which means he gets
                            stressed very easily. He is looking for a quiet retirement home. He is on a
                            nutriberry pellet diet and does not like to be handled.
                        </p>
                </div>
            </div>
            <div class="featured-ambassador">
                <div class="featured-img">
                    <img src="./images/featured-ambassador.png"
                        alt="Picture of Hernando Reptiles parot named Harley">
                </div>
                <div class="featured-text">
                    <h2 class="center-text">Featured Ambassador</h2>
                        <p class="center-text">Hi! I'm Harley. I came to Hernando Reptile and Exotics Rescue
                            looking for a home
                            after my
                            first
                            mommy had to let me go, but once I got here, I met the president Lauren, and it
                            was
                            love
                            at
                            first sight. She has become my person and I love spending my day singing and
                            dancing
                            with
                            her
                            and the volunteers and guests of the rescue. I enjoy getting treats like
                            blueberries
                            and
                            walnuts
                            and being a dancing queen. They even got me an outdoor speaker for my aviary so
                            I
                            can
                            listen
                            to
                            my favorite songs throughout the day!!</p>
                </div>
            </div>
        </section>
    </div>

    <!-- Adoptable animals preview -->
    <section class="adoptable-preview">
        <h1>Adoptable Animals</h1>
        <div id="image-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="./images/birds-adoptables/bird-adopt-1.jpeg">
                    </li>
                    <li class="splide__slide">
                        <img src="./images/reptile-adoptables/reptile-adopt-0.jpg">
                    </li>
                    <li class="splide__slide">
                        <img src="./images/reptile-adoptables/reptile-adopt-1.jpg">
                    </li>
                    <li class="splide__slide">
                        <img src="./images/reptile-adoptables/reptile-adopt-2.jpg">
                    </li>
                    <li class="splide__slide">
                        <img src="./images/reptile-adoptables/reptile-adopt-3.jpg">
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Extras section -->
    <section class="extras top-dashed-line">

        <!-- Ticket -->
        <div class="ticket">
            <a href="/pit-microchipping-1"><img src="./images/ticket.png" alt="image of a ticket"></a>
            <h2 class="o25">Only $25!</h2>
            <h3> <a href="/pit-microchipping-1">PIT Microchiping</a> </h3>
            <h2 class="s275">Save up to $275!!!</h2>
            <p>We are now offering microchipping for your reptiles and exotics for just $25! (Some species may
                be unable to be chipped. Contact us for details.)</p>
        </div>

        <!-- Events sections -->
        <div class="events">
            <h1 class="center-text">EVENTS</h1>
            <p class="center-text">Due to the COVID-19 Pandemic, no events are scheduled at this time. Please
                keep checking
                back!
            </p>
        </div>
    </section>
</div>