<header>

    <!-- Logo -->
    <div class="logo">
        <a href="/"><img [src]="logoUrl" alt="Hernando Reptile Logo"></a>
    </div>
    <!-- Navigation -->
    <nav>
        <label for="toggle" class="menu-label">&#9776;</label>
       <input type="checkbox" id="toggle">
        <div class="menu">
            <a href="/donate">Donate</a>
            <a href="/adoptables">Adoptables</a>
            <a href="/volunteer">Volunteer</a>
            <a href="/contact-us">Contact Us</a>
            <a href="pit-microchipping-1">PIT Microchiping</a>
            <a href="/team">Meet the Team</a>
        </div>
    </nav>

</header>
